.cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.cabecalho_link {
  font-family: var(--fonte-secundaria);
  color: var(--cor-fonte-titulo);
  padding: 0 5vh 0 5vh;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 3vh;
}

.cabecalho_logo {
  width: 100px;
  padding: 0% 2%;
}


.cabecalho_link:hover {
  color: #d1c44d;
  border-bottom: 3px solid #d1c44d;
  padding-bottom: 15px;
}