.rodape {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.rodape_dados {
    margin-right: 45px;
}
.rodape_dados_form {
    margin-left: 100px;
}

.rodape_dados_titulo {
    font-size: 36px;
    font-weight: 400;
    margin-left: 140px;
    margin-bottom: 10px;
}

.rodape_dados_input {
    height: 30px;
    width: 250px;
    color: #fff;
    font-size: 18px;
    padding-left: 5px;
    border-style: solid;
    border-width: 2px 2px;
    border-color: #fff;
    background-color: var(--cor-de-fundo);
}
.area_texto {
    height: 120px;
}

.rodape_dados_submit {
    border: 1px solid #fff;
    color: #fff;
    background-color: var(--cor-de-fundo);
    padding-left: px;
}

.rodape_contato {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 96px;
}
.rodape_contato_colunas {
    border: 1px solid #fff;
    height: 300px;
    width: 300px;
    padding-top: 25px;
    align-self: center;
}
.rodape_contato_imagem, .rodape_social_img {
    width: 80px;
}
.imagem_mapa {
    width: 250px;
}

.rodape_cotato_titulo {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 2%;
}

.rodape_contato_texto {
    font-size: 15px;
    font-weight: 200;
    margin-top: 25px;
}

.rodape_social {
    padding-right: 10px;
}


.contato_social_link {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    color:#fff;
}

.rodape_social_titulo {
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 2%;
    color: #d1c44d;
}

.rodape_social_texto {
    font-size: 15px;
    font-weight: 200;
    margin-left: 25%;
    padding-top: 2%;
    color: #a09635;
}

.contato_social_link:hover {
    color: #d1c44d;
  }