.rodape {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.rodape_dados_form {
    margin-left: 20px;
}

.rodape_dados_titulo {
    font-size: 36px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 10px;
}

.rodape_dados_input {
    height: 30px;
    width: 250px;
    color: #fff;
    font-size: 20px;
    padding-left: 5px;
    border-style: solid;
    border-width: 2px 2px;
    border-color: #5b5a5a;
    border-radius: 4px;
    background-color: var(--cor-de-fundo);
}
.area_texto {
    height: 110px;
}

.rodape_dados_submit {
    border: 1px solid #5b5a5a;
    color: #fff;
    background-color: var(--cor-de-fundo);
}

.rodape_contato {
    display: flex;
    text-align: center;
    width: 50%;
    padding: 0px 5%;
}
.rodape_contato_colunas {
    border: 1px solid #5b5a5a;
    height: 400px;
    width: 100%;
    padding-top: 25px;
}
.rodape_contato_imagem, .rodape_social_img {
    width: 80px;
}

.rodape_cotato_titulo {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 2%;
}

.rodape_contato_texto {
    font-size: 15px;
    font-weight: 200;
    margin-top: 25px;
}

.contato_social_link {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    color:#ffffff;
}

.rodape_social_titulo {
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 1%;
    color: #d1c44d;
}

.rodape_social_texto {
    font-size: 15px;
    font-weight: 200;
    padding-left: 25%;
    padding-top: 2%;
    color: #a09635;
}

.contato_social_link:hover {
    color: #d1c44d;
  }