@import url(cabecalho.css);
@import url(footer.css);

:root {
  --cor-de-fundo: #181818; /* altera a cor de fundo do site pela variante */
  --cor-fonte-titulo: #ffffff; /* altera a cor dos titulos */
  --fonte-principal: "Montserrat", sans-serif;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--cor-fonte-titulo);
  font-size: 16px;
  font-weight: 400;
  font-family: var(--fonte-principal);
}

.galeria_body {
  background-color: #d9d9d9;
  width: 100vw;
  height: 1750px;
  padding-top: 41px;
}

.galeria_container {
  justify-content: center;
  margin: 0 auto;
  width: 84.5vw;
  height: 2345px;
  border-top: 4px solid #000;
}

.galeria_titulo {
  text-align: center;
  font-size: 64px;
  line-height: 100px;
  color: #000;
}

.galeria_container_grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 15px;
}

.grid_col_left, .grid_col_right {
  display: flex;
  flex-direction: column;
}

.grid_img {
  padding:10px;
}

.grid_col_right img {
  width: 34.35vw;
}

.grid_col_left img {
  width: 21.93vw;
}

.grid_col_middle img {
  width: 24vw
}

