.container {
    padding-top: 5%;
    width: 50%;
    padding-left: 80px;
}

.container_titulo_jornada {
    font-family: var(--fonte-secundaria);
    font-size: 32px;
    font-weight: 200;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 15px;
    margin-right: 46%;
}

.container_titulo_titulo {
    font-family: var(--fonte-secundaria);
    font-size: 110px;
    font-weight: 500;
    line-height: 85%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container_titulo_texto {
    font-family: var(--fonte-terciaria);
    font-size: 25px;
    font-weight: 100;
}