.container_sobre {
    margin-top: 15%;
    margin-bottom: 5%; /* alterar para ajustar com os "produtos" */
    width: 100%;
}

.container_sobre_sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 80px;
}


.container_sobre_e_texto {
    width: 45%;
}

.container_sobre_titulo {
    font-family: var(--fonte-secundaria);
    font-size: 110px;
    font-weight: 500;
    line-height: 85%;
    padding-bottom: 40px;
    padding-right: 25%;
}

.container_sobre_texto {
    padding-bottom: 25px;
    font-size: 28px;
    font-weight: 200;
}

.container_sobre_imagem {
   width: 100%;
}

.container_sobre_fundador {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; /* sem isso não funcina o position do overlay de aparecer um texto na imagem sobrepondo para rolar a animao*/
}
.container_sobre_imagem_texto {
    font-weight: 500;
    font-size: 45px;
    top: 75%;
    left: 50%;
}

.overlay {
    position: absolute;
    bottom: 1%;
    left: 5%;
    right: 0;
    overflow: hidden;
    padding-left: 23%;
    width: 50%;
    height: 0;
    transition: .8s ease;
  }

.container_sobre_fundador:hover .overlay {
    height: 20%;
}

.container_sobre_fundador:hover .container_sobre_imagem {
    filter: blur(2px);
}

