.container_treino_test {
    background-color: #EFEFEF;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 2.2%;
}


.treino_titulo {
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 80px;
  font-weight: 500;
  line-height: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 4px solid #000000;
  border-bottom: 4px solid #000000;
  margin: 0% 30% 0 30%;
  padding: 5px;
}

.container_treino_imagem {
    height: 350px;
}


.treino_texto {
    margin: 0 auto;
    margin-top: 25px;
    width: 1700px;

}

.treino_texto p {
    text-align: center;
    font-size: 28px;
    color: #000000;
    line-height: 40px;

}

.treino_img {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-top: 2%;
    text-align: center;
    color: black;
}

.treino_img img {
    padding-inline: 100px;
}

.imagem_mid {
    margin-top: 5%;
}

.treino_img_titulo {
    font-size: 36px;
    line-height: 100px; 

}

.treino_img_texto {
    font-size: 26px;
    line-height: 40px;

}
